* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
}

.cellContent {
  border: 1px solid black;
  min-height: 100%;
  min-width: 100%;
}

.cellContent:hover {
  background-color: red;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
