* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100vh;
  margin: 0;
}

.bodyContentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: pink;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex: 1;
  margin: 2vh 2vw;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.colorContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

label {
  font-size: large;
  font-weight: bolder;
}

button {
  font-size: medium;
  padding: 6px 12px;
  border-radius: 10%;
  background-color: blue;
  color: white;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, 0.2);
}

.cell {
  border: 1px solid black;
  background-color: white;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
}

#message {
  text-align: center;
  font-size: medium;
}

select,
option {
  font-size: medium;
  padding: 6px 24px;
  text-align: center;
}
