* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100vh;
  margin: 0;
}

.bodyContentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: pink;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex: 1;
  margin: 2vh 2vw;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.colorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.checkBoxContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-size: large;
  font-weight: bolder;
}

button {
  font-size: medium;
  padding: 6px 12px;
  border-radius: 10%;
  background-color: blue;
  color: white;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, 0.2);
}

button:hover {
  border: 3px solid white;
  animation: shaking 0.5s infinite;
}
@keyframes shaking {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cell {
  background-color: white;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
}

#message {
  text-align: center;
  font-size: medium;
  margin-bottom: 6px;
}

select,
option {
  font-size: medium;
  padding: 6px 24px;
  text-align: center;
}

p {
  margin: 0;
}
